{% extends 'layout.twig' %}

{% block content %}
    <h1>{{ productCount }} producten</h1>

    <table>
        <thead>
        <tr>
            <th></th>
            <th>SKU</th>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Created</th>
            <th>Updated</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr class="{% if product.stockQuantity == 0 %}out-of-stock{% endif %}">
                <td><a href="/view.php?id={{ product.externalId }}&returnUrl={{ returnUrl }}">edit</a></td>
                <td>{{ product.externalSku }}</td>
                <td><a href="{{ product.externalListingUrl }}">{{ product.name }}</a></td>
                <td>{{ product.manufacturer.name }}</td>
                <td>{{ product.category.name }}</td>
                <td>
                    {% if product.priceAmount %}
                        {{ product.priceAmount|format_currency(product.priceCurrency) }}
                    {% endif %}
                </td>
                <td>{{ product.stockQuantity }}</td>
                <td>{{ product.createdAt|date }}</td>
                <td>{{ product.updatedAt|date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="pagination">
    {% for pageNumber in 1..pageCount %}
        <li>
            {% if pageNumber == page %}
                {{ pageNumber }}
            {% else %}
                <a href="?page={{ pageNumber }}">{{ pageNumber }}</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}